<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FYP19.Dao.TeacherMapper">

    <select id="queryTeacherById" resultType="Teacher">
        SELECT * FROM FYP_Automatic_Grading.Teacher
        WHERE id = #{teacher_id}
    </select>
</mapper>