*{
    padding: 0px;
    margin: 0px;
}

.header{
    margin: 30px auto;
    width: 1200px;
}


.header .logo{
    position: relative;
    float: left;
    left: -32px;
    top: -12px;
}

.header .admin {
    position: relative;
    float: right;
    right: 57px;
    margin-top: 1px;
}



.header .admin #name  a{
    text-decoration: none;  /* //去除超链接的横线*/
    color: rgb(123, 18, 194);
    font-style: normal;
    font-size: 37px;
    font-family:fantasy;
}

.header .admin #setting{
    display: none;
    position: absolute;
    
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header .admin #setting a{
    position: relative;
    float: left;
    font-size: 19px;
    color: black;
    padding: 7px 2px;
    text-decoration: none;
    display: block;
}

#setting a:hover {background-color: #b82d2d}


.admin:hover #name a {
    background-color: #aabdf0;
}

#splitArea{
    position: relative;
    top: 69px;
    height: 47px;
    background-color: rgb(35, 129, 236);
    z-index: -1;
}

.header .adminLogo{
    font-size: 30px;
    font-style: normal;
    position: relative;
    float: left;
    width: 542;
    height: 41;

}

/* -------- above header part */


.buttonArea{
    position: relative;
    /* top: 87px;
    height: 130px; */
    top: 70px;
    height: 100px;
}

/* button1 */
.buttonArea .button1{
    position: relative;
    /* top: 42px; */
    top:12px;
    left:92px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttonArea .button1:hover {background-color: rgb(123, 18, 194)}

.buttonArea .button1:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* button2 */
.buttonArea .button2{
    position: relative;
    /* top: 42px; */
    top:12px;

    left:300px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttonArea .button2:hover {background-color: rgb(123, 18, 194)}

.buttonArea .button2:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/* register a single student form */
.register{
    position: relative;
    top: 34px;
    height: 330px;
}

.register .form{
    position:relative;
    top: 0px;
    height: 290px;

    /* width: 23%; */
    width: 50%;

    background:#ffffff;
    margin:auto;
    margin-top: 3%;
    text-align: center;
    border-radius: 122px;
    padding: 70px 63px;
}

.register .form #studentId{
    
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}


.register .form #studentName{
    
    border:0;
    /* width: 60%; */
    width: 30%;

    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
.register .form #studentPwd{
    
    border:0;
    width: 60%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
.register .form #studentEmail{
    
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
.register .form #majorCode{
    box-sizing: content-box;     /*box-sizing*/
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}


/* .register .form #idmsg{
    position: relative;
    top: -10%;
    left: 62%;
    color: rgb(230, 22, 22);
    
} */

.register .form #idmsg{
    position: absolute;
    float: left;
    top: 20%;
    left: 65%;
    color: rgb(230, 22, 22);
    
}

/* .register .form #notInt{
    position: relative;
    top: -10%;
    left: 91%;
    color: rgb(230, 22, 22);
} */
.register .form #notInt{
    position: absolute;
    float: left;
    top: 20%;
    left: 65%;
    color: rgb(230, 22, 22);
}

/* .register .form #namemsg{
    position: relative;
    top: -10%;
    left: 62%;
    color: rgb(230, 22, 22);
} */
.register .form #namemsg{
    position: absolute;
    float: left;
    top: 30%;
    left: 65%;
    color: rgb(230, 22, 22);
}

/* .register .form #pwdmsg{
    position: relative;
    top: -10%;
    left: 70%;
    color: rgb(230, 22, 22);
} */

/* .register .form #emailmsg{
    position: relative;
    top: -10%;
    left: 62%;
    color: rgb(230, 22, 22);
} */

.register .form #emailmsg{
    position: absolute;
    float: left;
    top: 41%;
    left: 65%;
    color: rgb(230, 22, 22);
}

/* .register .form #majormsg{
    position: relative;
    top: -10%;
    left: 70%;
    color: rgb(230, 22, 22);
} */
.register .form #majormsg{
    position: absolute;
    float: left;
    top: 51.5%;
    left: 65%;
    color: rgb(230, 22, 22);
}

/* register button */
.register .form #register{
    position: relative;
    top: 80px;
    left:-30px;
    display: inline-block;
    padding: 4px 7px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}


.register .form #register:hover {background-color: rgb(123, 18, 194)}

.register .form #register:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.backBtnArea #back{
    position: relative;
    top: 18px;
    left:601px;
    display: inline-block;
    padding: 4px 7px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}

.backBtnArea #back:hover {background-color: rgb(123, 18, 194)}

.backBtnArea #back:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* back button */
.register .form #back{
    position: relative;
    top: 80px;
    left:36px;
    display: inline-block;
    padding: 4px 7px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}


.register .form #back:hover {background-color: rgb(123, 18, 194)}

.register .form #back:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* the block of upload csv file */
.uploadFile{
    position: relative;
    top: 71px;
    height: 500px;
    
}

.uploadFile #getfile{
    position: relative;
    top: 20px;
    left: 50px;
    height: 20px;
}

/* submit button */

.uploadFile #button{
    position: relative;
    top: 78px;
    left:116px;
    display: inline-block;
    padding: 4px 7px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}


.uploadFile #button:hover {background-color: rgb(123, 18, 194)}

.uploadFile #button:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* back button */
.uploadFile #back{
    position: relative;
    top: 78px;
    left:-201px;
    display: inline-block;
    padding: 4px 7px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(35, 129, 236);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}


.uploadFile #back:hover {background-color: rgb(123, 18, 194)}

.uploadFile #back:active {
  background-color: rgb(123, 18, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/* teacher register form  */

.register .form #teacherId{
    
    border:0;
    /* width: 60%; */
    width: 30%;

    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}


.register .form #teacherName{
    
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
/* .register .form #teacherPwd{
    
    border:0;
    width: 60%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
} */
.register .form #teacherEmail{
    
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
.register .form #depCode{
    box-sizing: content-box;     /*box-sizing*/
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}

/* .register .form #depmsg{
    position: relative;
    top: -10%;
    left: 78%;
    color: rgb(230, 22, 22);
} */
.register .form #depmsg{
    position: absolute;

    float: left;
    top: 51.5%;
    left: 65%;

    
    color: rgb(230, 22, 22);
}


/* ------------------------------------------------------------------------------------------------------- */


.showInfoArea{
    position: relative;
    top: 157px;
}
.showStudentInfoById{
    position: relative;
    top: 157px;
}

.searchArea{
    position: relative;
    top: 65px;
    height: 20px;
}

.searchArea .searchById{
    position:relative;
    top: 40px;
    left: 218px;
    height: 60px;

    width: 350px;
}

.searchArea .searchByMajor{
    position:relative;
    top: -20px;
    left: 745px;
    height: 60px;
    
    width: 350px;
}

.searchArea .backToShowAll{
    position:relative;
    top: 51px;
    left: 610px;
    height: 60px;
    width: 350px;
}

.searchArea .backToAdminHome{
    position:relative;
    top: -80px;
    left: 1223px;
    height: 60px;
    width: 350px;
}

.searchArea .backToPreviousPage{
    position:relative;
    top: -20px;
    /* left: 893px; */
    left: 1223px;
    height: 60px;
    width: 350px;
}
table{
    text-align: center;

}


.showCourseInfoArea{
    position: relative;
    top: 157px;
}
.showCourseInfoByID{
    position: relative;
    top: 157px;
}



.showStudentModuleArea{
    position: relative;
    top: 157px;
}
/* ------------------------------------------------------------------------------- */

.register .form #moduleCode{
    
    border:0;
    /* width: 60%; */
    width: 30%;

    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
.register .form #moduleName{
    
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}
.register .form #teacherID{
    
    border:0;
    /* width: 60%; */
    width: 30%;
    height: 8%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #00000000;
    border-bottom: 2px solid#eacda950;
    padding: 5px 10px;
    margin-top: 10px;
}