<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


<!--Scan all annotations under the package Service-->
    <context:component-scan base-package="FYP19.Service"/>

    <bean id="StudentsServiceImpl" class="FYP19.Service.StudentsServiceImpl">
        <property name="studentsMapper" ref="studentsMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="TeacherServiceImpl" class="FYP19.Service.TeacherServiceImpl">
        <property name="teacherMapper" ref="teacherMapper"/>
        <property name="moduleMapper" ref="moduleMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="UserServiceImpl" class="FYP19.Service.UserServiceImpl">
        <property name="studentsMapper" ref="studentsMapper"/>
        <property name="teacherMapper" ref="teacherMapper"/>
        <property name="adminMapper" ref="adminMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="MailService" class="FYP19.Service.MailService">
        <property name="javaMailSender" ref="javaMailSender"/>
    </bean>

    <bean id="EncryptionService" class="FYP19.Service.EncryptionService">
        <property name="studentMapper" ref="studentsMapper"/>
        <property name="teacherMapper" ref="teacherMapper"/>
    </bean>

<!--Declarative transaction supports for database operations-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--Combined with AOP enabling transaction services to be added around all methods when operating databases-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--If no transaction->add a transaction-->
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* FYP19.Service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>


</beans>
