.layui-layout .layui-nav-item #course_name{
    font-size: 30px;
}

.layui-layout .layui-nav-item #user_name{
    font-size: 15px;
}

.layui-layout .layui-logo{
    font-size: 25px;
    font-family: Verdana;
}

.layui-side .layui-nav li a{
    font-size: 20px;

}


.layui-body{
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}